@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.buttonSubmitForm {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #990000;
  border: none;
  width: auto;
  margin: 10px;
  transition: all 300ms; }
  .buttonSubmitForm a {
    text-decoration: none;
    color: white; }
  .buttonSubmitForm:hover {
    background-color: #860000;
    color: white; }

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f3f1; }

h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #212529; }

.logo {
  height: 3.125rem; }

.navBar {
  background-color: #990000; }

.navBarIndex {
  background-color: #99000099; }

.fontColorNav {
  color: white; }

footer {
  background-color: #EDECEB;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "column1 column2 column3" ". redesIconos .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: .625rem;
  width: 100%; }
  footer div p {
    font-weight: bold; }
  footer .column1, footer .column2, footer .column3 {
    grid-area: column1;
    color: #6F0707; }
    footer .column1 ul, footer .column2 ul, footer .column3 ul {
      list-style: none; }
      footer .column1 ul li a, footer .column2 ul li a, footer .column3 ul li a {
        text-decoration: none;
        color: #6F0707; }
        footer .column1 ul li a:hover, footer .column2 ul li a:hover, footer .column3 ul li a:hover {
          color: black; }
  footer .column2 {
    grid-area: column2; }
  footer .column3 {
    grid-area: column3; }
  footer .redesIconos {
    grid-area: redesIconos;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
    align-items: center; }
    footer .redesIconos a img {
      width: 64px;
      transition: all 300ms; }
      footer .redesIconos a img:hover {
        transform: scale(1.2); }

.bodyHome {
  background-color: black;
  font-family: "Inter", sans-serif; }

.headerHome {
  background-image: url("../assets/img/guitar-man-background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%; }

.linkButtonHeaderBack {
  background-color: #99000090;
  border-style: solid;
  border-color: black;
  border-width: .0625rem;
  border-radius: 3.125rem;
  width: 18.75rem;
  height: 4.6875rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: all 300ms; }
  .linkButtonHeaderBack:hover {
    background-color: #86000099;
    color: white; }

.backgroundHeaderTitle {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mainHome {
  margin: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "men women" "denim denim";
  justify-content: none;
  align-content: none;
  gap: 1.25rem; }
  .mainHome .men, .mainHome .women, .mainHome .denim {
    grid-area: men;
    position: relative; }
    .mainHome .men img, .mainHome .women img, .mainHome .denim img {
      width: 100%; }
  .mainHome .women {
    grid-area: women; }
  .mainHome .denim {
    grid-area: denim; }
    .mainHome .denim img {
      height: 100%; }
  .mainHome .mainText {
    color: white;
    position: absolute;
    font-size: 3.5vw;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: .625rem;
    text-decoration: none;
    transition: all 300ms; }
    .mainHome .mainText:hover {
      background-color: rgba(0, 0, 0, 0.9);
      color: white; }

.mainColeccion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "prenda1 prenda2 prenda3 prenda4" "prenda5 prenda6 prenda7 prenda8" "prenda9 prenda10 prenda11 prenda12" "prenda13 prenda14 prenda15 prenda16";
  justify-content: none;
  align-content: none;
  column-gap: .3125rem;
  row-gap: .9375rem;
  padding: 1.25rem; }

.prenda1, .prenda2, .prenda3, .prenda4, .prenda5, .prenda6, .prenda7, .prenda8, .prenda9, .prenda10, .prenda11, .prenda12, .prenda13, .prenda14, .prenda15, .prenda16 {
  grid-area: prenda1;
  color: black;
  text-decoration: none;
  transition: all 300ms; }
  .prenda1:hover, .prenda2:hover, .prenda3:hover, .prenda4:hover, .prenda5:hover, .prenda6:hover, .prenda7:hover, .prenda8:hover, .prenda9:hover, .prenda10:hover, .prenda11:hover, .prenda12:hover, .prenda13:hover, .prenda14:hover, .prenda15:hover, .prenda16:hover {
    transform: scale(1.01);
    box-shadow: 0 0 2px black; }
  .prenda1 img, .prenda2 img, .prenda3 img, .prenda4 img, .prenda5 img, .prenda6 img, .prenda7 img, .prenda8 img, .prenda9 img, .prenda10 img, .prenda11 img, .prenda12 img, .prenda13 img, .prenda14 img, .prenda15 img, .prenda16 img {
    width: 100%; }

.prenda2 {
  grid-area: prenda2; }

.prenda3 {
  grid-area: prenda3; }

.prenda4 {
  grid-area: prenda4; }

.prenda5 {
  grid-area: prenda5; }

.prenda6 {
  grid-area: prenda6; }

.prenda7 {
  grid-area: prenda7; }

.prenda8 {
  grid-area: prenda8; }

.prenda9 {
  grid-area: prenda9; }

.prenda10 {
  grid-area: prenda10; }

.prenda11 {
  grid-area: prenda11; }

.prenda12 {
  grid-area: prenda12; }

.prenda13 {
  grid-area: prenda13; }

.prenda14 {
  grid-area: prenda14; }

.prenda15 {
  grid-area: prenda15; }

.prenda16 {
  grid-area: prenda16; }

.bannerSale img {
  width: 100%; }

.mainSale {
  margin: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: .625rem; }
  .mainSale div {
    position: relative;
    transition: all 300ms; }
    .mainSale div:hover {
      transform: scale(1.005);
      box-shadow: 0 0 5px black; }
    .mainSale div img {
      width: 100%; }

.bannerSaleTypo {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding: .3125rem;
  width: auto;
  position: absolute;
  font-size: 3.5vw;
  top: 50%;
  left: 5%;
  text-decoration: none; }

.bannerSaleJeans {
  left: auto;
  right: 5%; }

.contactFormCampo {
  width: 50%; }

.linkTextStyle {
  font-size: .75rem;
  text-decoration: none;
  color: black; }
  .linkTextStyle:hover {
    text-decoration: underline; }

.loginFormCampo {
  width: 30%; }

.textError {
  width: 100%;
  padding: 100px 0px; }
  .textError .pError {
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 1rem; }

@media (max-width: 1024px) {
  .loginFormCampo {
    width: 40%; }
  .contactFormCampo {
    width: 60%; } }

@media (max-width: 768px) {
  .linkButtonHeaderBack {
    width: 14.75rem;
    height: 3.6875rem;
    position: relative; }
  .mainHome {
    margin: .9375rem;
    gap: .9375rem; }
  .mainColeccion {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "prenda1 prenda2" "prenda3 prenda4" "prenda5 prenda6" "prenda7 prenda8" "prenda9 prenda10" "prenda11 prenda12" "prenda13 prenda14" "prenda15 prenda16"; }
  .mainSale {
    margin: 1vw 1vw;
    gap: 1vw; }
  .contactFormCampo {
    width: 70%; }
  .loginFormCampo {
    width: 60%; } }

@media (max-width: 500px) {
  .mainHome {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto auto auto);
    grid-template-areas: "men" "women" "denim";
    margin: .625rem;
    gap: .625rem; }
  .linkButtonHeaderBack {
    width: 12.5rem;
    height: 3rem;
    position: relative; }
  .mainColeccion {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: "prenda1"  "prenda2" "prenda3"  "prenda4" "prenda5"  "prenda6" "prenda7"  "prenda8" "prenda9"  "prenda10" "prenda11"  "prenda12" "prenda13"  "prenda14" "prenda15"  "prenda16"; }
  .mainSale {
    margin: .5vw .5vw;
    gap: .25rem; }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "column1" "column2" "column3" "redesIconos"; }
    footer .redesIconos {
      gap: 3vw;
      justify-content: center;
      align-items: center; }
      footer .redesIconos a img {
        width: 44px; }
  .contactFormCampo {
    width: 80%; }
  .loginFormCampo {
    width: 80%; } }

@media (max-width: 320px) {
  .mainHome {
    margin: .3125rem;
    gap: .3125rem; } }
