@import "./base/typo";
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/funciones";

@import "./components/buttons";

@import "./base/reset";
@import "./base/generales";
@import "./layout/navbar";
@import "./layout/footer";
@import "./layout/index";
@import "./layout/coleccion";
@import "./layout/sale";
@import "./layout/contacto";

@import "./layout/mediaQ/media1024";
@import "./layout/mediaQ/media768";
@import "./layout/mediaQ/media320";