// COLORS
$color-navbar: #990000;
$color-navbar-index: #99000099;
$color-footer: #EDECEB;
$color-bg-1: black;
$color-bg-2: #f4f3f1;

// FUENTES
$font-1: 'Inter', sans-serif;
$color-font-nav: white;
$color-font-footer: #6F0707;