.bannerSale{
    img{
    width: 100%;
    }
}

.mainSale{
    margin: 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    div{
        position: relative;
        transition: all 300ms;
        &:hover{
            transform: scale(1.005);
            box-shadow: 0 0 5px black;
        }
        img{
            width: 100%;
        }
    }
}

.bannerSaleTypo{
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    padding: .3125rem;
    width: auto;
    position: absolute;
    font-size: 3.5vw;
    top: 50%;
    left: 5%;
    text-decoration: none;
}
.bannerSaleJeans{
    left: auto;
    right: 5%;
}