.buttonSubmitForm{
    font-size: 1.3rem;
    font-family: $font-1;
    color: $color-font-nav;
    background-color: $color-navbar;
    border: none;
    width: auto;
    margin: 10px;
    transition: all 300ms;
    a{
        text-decoration: none;
        color: $color-font-nav;
    }
    &:hover{
        background-color: #860000;
        color: $color-font-nav;
        
    }
}