@media (max-width: 500px){
    // INDEX
    .mainHome{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto auto auto);
        grid-template-areas: "men""women""denim" 
    }
    .linkButtonHeaderBack{
        width: 12.5rem;
        height: 3rem;
        position: relative;
    }

    // COLECCION
    .mainColeccion{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 1fr); 
        grid-template-areas: 
        "prenda1" 
        "prenda2"
        "prenda3" 
        "prenda4"
        "prenda5" 
        "prenda6"
        "prenda7" 
        "prenda8"
        "prenda9" 
        "prenda10"
        "prenda11" 
        "prenda12"
        "prenda13" 
        "prenda14"
        "prenda15" 
        "prenda16";
    }
    
    // FOOTER
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "column1""column2""column3""redesIconos";
    }
}

